<!DOCTYPE html>
<html>
<head>
	<title>打地鼠</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<style type="text/css">
		*{
			margin:0;
			padding:0;
		}
		.loadingPage{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: whitesmoke;
		}
		.loading{
			height: 30px;
			width: 80%;
			margin:150px auto;
			background: gainsboro;
		}
		.loadingBar{
			height: 30px;
			width: 0%;
			background: deepskyblue;
		}
		.square{
			width: 400px;
			margin:0 auto;
		}
		.square div{
			width: 25%;
			display: inline-block;
			float: left;
			font-size: 0;
		}
		.square div img{
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="loadingPage">
		<div class="loading">
			<div class="loadingBar"></div>
		</div>
	</div>

	

	<div class="" ng-app="app" ng-controller="all">
		<div id="" ng-controller="game">
			<div class="square" ng-class="" ng-style="">
				<div id="" ng-repeat="x in dsArr"><img ng-src="{{x.imgSrc}}" ng-click="clickMouse($event)"></div>
			</div>
		</div>
		<div class="" ng-controller="startGame">
			<div class="" ng-click="startGame()">
				开始游戏
			</div>
		</div>
	</div>
	<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var imgArr = ["img/00.jpg","img/000.jpg","img/01.jpg","img/02.jpg","img/11.png","img/dds.png","img/dsbg.jpg","img/endbg.jpg"];
		var rate = 0;
		for(var i=0;i<imgArr.length;i++){
			(function(y){
				var img = new Image();
				img.src = imgArr[y];
				img.onload = function(){
					rate ++;
					var num = rate/imgArr.length;
					document.querySelector(".loadingBar").style.width = num*100+"%";
				if (num ==1) {
					document.querySelector(
						".loadingPage").style.display = "none";
				}}
			}(i));
		}

		(function(window,angular){
			var app = angular.module("app",[]);
			app.controller("all",function($scope){
				$scope.$on("startGame",function(event,data){
					$scope.$broadcast("allStart",data);
				})
			});
			app.controller("game",function($scope,$interval,$timeout){
					$scope.startGame = false;
					$scope.score = 0;
					$scope.clickAble = true;
					var time = "";
					$scope.dsArr = [];
					for(var i=0;i<16;i++){
						$scope.dsArr.push({
							id:i,
							imgSrc:"img/00.jpg",
							state:false
						})
					};

					$scope.clickMouse = function($event){
						if (angular.element($event.target).attr("src")=="img/01.jpg"&&$scope.clickAble) {
							$scope.score +=100;
							$scope.clickAble = false;
							angular.element($event.target).attr("src","img/02.jpg");
						}
					}

					$scope.$on("allStart",function(event,data){
						$scope.startGame = data;
					});


					$scope.$watch("startGame",function(newValue,oldValue){
						if ($scope.startGame) {
							time = $interval(function(){
								interGame();
							},1000)
							setTimeout(function() {
								$interval.cancel(time);
								alert("你的总得分"+$scope.score)
							}, 10000);
						}
					})

					var interGame = function(){
						var num = parseInt(Math.random()*16);
						$scope.dsArr[num].imgSrc = "img/01.jpg";
						$timeout(function(){
							$scope.dsArr[num].imgSrc = "img/00.jpg";
							$scope.clickAble = true;
						},1000)
					}

			})
			app.controller("startGame",function($scope){
				$scope.startGame=function(){
					$scope.$emit("startGame",true)
				}
			})



		})(window,angular)






	</script>
</body>
</html>